<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="urf-8">
    <title></title>
    
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h2 align="center">ข้อมูลเข้ารับวัคซีน</h2>
      <a href="/blog/add">เพิ่มข้อมูล</a>
    </div>
    
  </body>
</html>
